@import "tailwindcss";

@theme {
  --color-main-red: #e3646e;
  --color-main-purple: #bb72e9;
  --color-main-blue: #3996db;
  --color-main-green: #82bc4f;
  --color-main-yellow: #eabd5f;
  --color-main-red: #e3646e;

  --color-gray-100: #e2e4e9;
  --color-gray-200: #c0c4ce;
  --color-gray-300: #878ea1;
  --color-gray-400: #292c34;
  --color-gray-500: #16181d;
  --color-gray-600: #0d0e11;
}
